.floating-letter {
    position: absolute;
    font-weight: bold;
    font-size: 5rem;
    color: rgb(141, 124, 124); /* subtle effect */
    pointer-events: none;
    animation: float 30s infinite ease-in-out;
  }
  
  @keyframes float {
    0% {
      transform: translateY(0px) rotate(0deg);
    }
    50% {
      transform: translateY(-20px) rotate(180deg);
    }
    100% {
      transform: translateY(0px) rotate(360deg);
    }
  }
  